body {
  background-color: indianred !important;
  
}

#imageandinfo {
 display: flex;
 flex-direction: column;
 justify-content: center;
 
}
.biolink {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
