body {
  background-color: indianred !important;
  
}

#biocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .biolink {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
